/* Light mode custom colors */
[data-md-color-scheme="default"] {
  --md-primary-fg-color: #39e3f6;
  --md-primary-fg-color--light: #3bd5f5;
  --md-primary-fg-color--dark: #2a3f84;
  --md-accent-fg-color: #2a3f84;
  --md-accent-fg-color--transparent: rgba(122, 181, 29, 0.1);
}

/* Dark mode custom colors */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #871ee8;
  --md-primary-fg-color--light: #3bd5f5;
  --md-primary-fg-color--dark: #2a3f84;
  --md-accent-fg-color: #2a3f84;
  --md-accent-fg-color--transparent: rgba(122, 181, 29, 0.1);
}

/* Make the navigation logo larger */
.md-header__button.md-logo {
  padding: 0;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 2rem;
  width: auto;
}